syntax: glob
.idea/*
*.dat
*.pyc
*.dot
Simulator/*flow.txt
*.eps
res/*
res/*.eps
res/*.txt
Share/**
*tags
*.pk
nohup.out
Detector/ART/*.txt
Detector/ART/*.csv
anomalyTimeData.txt
clusters.txt
coords.txt
anomolies.txt
doc/1.1/build/html/*
doc/sphinx/build/
**.UNDO/*
**.ropeproject/*
*/build/*
para_comp.sh
test.sh
**.swp
build/**
